[project]
name = "rten-convert"
requires-python = ">=3.10"
version = "0.1"
dependencies = ["flatbuffers", "onnx", "numpy", "setuptools"]

[project.scripts]
rten-convert = "rten_convert.converter:main"
